# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# ignore common security keys
.key
.crt
.csr
.pem
# Dependency directories
/target
/build
/src/dist
/my_package/dist
/my_env
/keys
/curl

/agent-adk/dist

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info

# Images (trusted & untrusted.png are required for client server)
# vbcs app requires the excepted images as well 
*.png
!clientApp/trusted.png
!clientApp/untrusted.png 
!/vbcs_oda_archives/vbcs_apps/vbcs-askdata/webApps/nl2sqlbot/resources/images/*

# Added images for documentation (redacted)
!deployment-docs/docs/deployment/business_media/media/*
!deployment-docs/docs/deployment/apex/media/*
!deployment-docs/docs/deployment/images/*
!deployment-docs/docs/deployment/lb/media/*
!deployment-docs/docs/deployment/terraform/*

*.jpeg
!deployment-docs/docs/deployment/business_media/media/*

*.jpg
!/vbcs_oda_archives/vbcs_apps/vbcs-askdata/webApps/nl2sqlbot/resources/images/*

*.gif
*.webp

*.ico
!/vbcs_oda_archives/vbcs_apps/vbcs-askdata/webApps/nl2sqlbot/resources/images/*

*.docx 

# Config
*.ini

# Binaries
*.xlsx
*.zip
/rest/nl2sql-trust/.coverage
*.tgz

# WebSDK should be included in VBCS Applications
/oda/websdk-apache-deploy/

# scan file
.scannerwork/

# Files with possible sensitive info 
#clientApp/ConfigFile.properties # cleaned sensitive info
clientApp/autoprompt/ConfigFile.properties
clientApp/autoprompt/semantic_suggest_runbook.md 

# Unnecessary instructions 
deployment-docs/docs/deployment/nginx.md

deployment-docs/docs/deployment/terraform_p.md
deployment-docs/docs/deployment/trust-service.c.md 
deployment-docs/docs/deployment/trust-ui.md  
deployment-docs/docs/deployment/trust-service.md 
deployment-docs/docs/deployment/let_s_encrypt.md 
deployment-docs/docs/deployment/let_s_encrypt_orig.md

deployment-docs/docs/rest/    
deployment-docs/docs/templates/
deployment-docs/docs/logging.md

deployment-docs/docs/deployment/apex-trust.md
deployment-docs/docs/deployment/apex-trust-lb.md

# File with reference to orahub repo 
deployment-docs/mkdocs.yml

# Reference to OCIDs 
/deployment-docs/Finetune-DAC/finetune-dac-python.py

# Binaries 
/oda/callGenAiSQLEndPointv2(1.0).zip
/oda/websdk2104-desktop.zip

# Not sure about font files ... 
/oda/websdk-apache-deploy/fonts/fonnts.com-aptos-semibold.ttf

# node modules 
/oda/websdk-apache-deploy/node_modules/

# Random IPs 
/oda/websdk-apache-deploy/scripts/settings.js

# I think we should omit web sdk and provide a link to download from public website
/oda/websdk-apache-deploy/scripts/support/*
/oda/websdk-apache-deploy/scripts/web-sdk.js 
/oda/websdk-apache-deploy/scripts/web-sdkVnew.js

/oda/websdk2104-desktop/

# Sensitive info 
/promotion/

# Adding entire rest trust directory for now, since there's a dependency on dotmap 
# can maybe add delta review for next release
rest/

# Random IPs 
/rest/nl2sql-trust/conf/dev_trust_config.json 
/rest/nl2sql-trust/conf/metadata_v2.json
#/rest/nl2sql-trust/conf/trust_config.json # added placeholders for sensitive info

# Sensitive info 
/rest/nl2sql-trust/helpers/config_json_helper.py
/rest/nl2sql-trust/helpers/config_json_helper.py

# Reference to genai dedicated cluster 
/rest/nl2sql-trust/helpers/finetune_helper.py

# Couldn't find any reference upon first glance, but I imagine there might be if finetune helper has a reference 
/rest/nl2sql-trust/helpers/finetune_db.py

# Reference to OCIDs
/rest/nl2sql-trust/helpers/llm_helper.py
#/rest/nl2sql-trust/helpers/oci_helper_boostrap.py # cleaned up sensitive info 
/rest/nl2sql-trust/helpers/oci_helper_json.py

/rest/nl2sql-trust/helpers/test_ca_creation.json 

# wallet
/rest/nl2sql-trust/wallet/

# Do we need this ? 
/rest/nl2sql-trust/htmlcov

# keys 
/rest/nl2sql-trust/openssl/

# Wallet 
/rest/nl2sql-trust/wallet/nl2sql-test/

/rest/wallet/nl2sql-test

# Replaced given ips with placeholders
#/rest/nl2sql-trust/nl2sql_service.py

# Reference to internal db 
/rest/nl2sql-trust/README

# devops sensitive info 
/rest/script/devops

/rest/script/docker/
# docker artifactory info 
/rest/script/docker/artifacts/
/rest/script/docker/artifacts/promote_apex.sh

# oracle instant client reference?
/rest/script/docker/oracle-instantclient-23ai-ol8.repo

# tenancy name reference 
/rest/script/docker/promote_dev.sh
/rest/script/docker/run_dev.sh
/rest/script/docker/run.sh

/rest/script/docker_released/
/rest/script/docker_released/artifacts

# another oracle instant client reference? Add link to public download instead?
/rest/script/docker_released/oracle-instantclient-23ai-ol8.repo

# tenancy name reference 
/rest/script/docker_released/run_dev.sh
/rest/script/docker_released/run.sh
/rest/script/docker_released/Dockerfile

# ubuntu image? Is this needed? Replace with olinux instead? 
/rest/script/dockerssh/Dockerfile
/rest/script/dockerssh/

# Reference to google apis, twitter open source, do we need this? 
/rest/script/html_client/

# old docker I assume is unnecessary? 
/rest/script/old_docker/

# bash scripts from ruepprich.com, are these needed? 
/rest/script/find_by_freeform.bash
/rest/script/find_by_tags.bash 

# log file 
/rest/script/nl2sql_trust_rest.log 

# sensitive info 
/rest/script/os_upload.bash
/rest/script/upload_os_trust_config.sh 

# tenancy name reference 
# masked data, required for starting trust service
# /rest/script/nl2sql_rest.service

# ips 
/rest/script/upload.sh 

# Wallet 
/rest/script/wallet/nl2sql-test 

# lock file 
/rest/poetry.lock 

# tenancy namespace 
/scripts/oci 

# Hiding terraform for now
terraform/ 

# Hiding sqlGenApp (used for finetuning) 
sqlGenApp/ 

scripts/

# Reference to tenancy 
/terraform/cloud-init/nl_engine_cloud_init.yml
terraform/cloud-init/trust-cloud-init.yml

# sensitive info 
terraform/example/vm_nl_engine_cloud_init/terraform.tfvars 
terraform/example/vm_trust_cloud_init/terraform.tfvars 
/terraform/example/vm_nl_engine_cloud_init/nl_engine_cloud_init.yml.tpl
/terraform/example/vm_nl_engine_cloud_init/variables.tf
/terraform/example/vm_trust_cloud_init/variables.tf
# NLSQL_v1 & NLSQL_V2 directories, I assume v1 is unnecessary? 
terraform/NLSQL_v1

# Secrets and binaries 
terraform/NLSQL_V2/Deployment/config/files

# ocids 
terraform/NLSQL_V2/Deployment/modules/instances/gpu/main.tf
terraform/NLSQL_V2/Deployment/modules/instances/gpu/main.tf

# empty dir 
terraform/NLSQL_V2/Deployment/scripts/

# VBCS Applications 
# cleaned up main vbcs-askdata app. Will need to provide instructions for certain inputs e.g. idcs endpoint, api gateway endpoints, etc.
# The app is dependent on the images for the app. We can't include the images in the repo. Maybe we'd want to create an associated livelab for this section?
# Still need to bloat and clean zip files for dependent VBCS apps
# vbcs_oda_archives 

# wallet 
/wallet

# tenancy reference
/run.sh

.DS_Store
